body {
	background-color: black;
	font-family: "Segoe UI,Helvetica";
}

.roundBtn {
	width: 33.3%;
	height: 40px;
	background-color: #666666;
	padding: 20px;
	margin: 20px;
	display: inline;
	border-radius: 10px;
}

.whiteText {
    color: white;
}
.inner {
	width: 100px;
	margin: 0 auto;
}
.content {
	margin: auto;
}
#nextImg {
	float: right;
}
